// Import utilities.
@use "global/window";
@use "global/grid";
@use "global/flex";

@use "components/forms";
@use "components/char";
@use "components/trait-sheet";

// Add custom fonts by visiting and search https://fonts.google.com
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

:root {
    --usr-font-primary: "Special Elite", serif;
    --usr-font-secondary: "Special Elite", serif;

    --usr-padding-sm: 5px;
    --usr-padding-md: 10px;
    --usr-padding-lg: 20px;

    --usr-border-groove: 2px groove #eeede0;

    --usr-c-white: #fff;
    --usr-c-black: #000;

    --usr-c-dark: #191813;
    --usr-c-grey: #2f2d29;
    --usr-c-faint: #c9c7b8;
    --usr-c-beige: #b5b3a4;
    --usr-c-tan: #444;
}
