<ol class="items-list">
    <li class="item flexrow items-header">
        <div class="item-name">Name</div>
        <div class="item-controls">
            Foobar
        </div>
    </li>
</ol>

<div>
    <div class="resource flex-group-center">
        <label for="data.attributes.fortitude" class="resource-label">Fortitude</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input type="text" id="data.attributes.fortitude" name="data.attributes.fortitude" value="{{data.attributes.fortitude}}" data-dtype="Number"/>
        </div>
    </div>

    <div class="resource flex-group-center">
        <label for="data.attributes.intelligence" class="resource-label">Intelligence</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input type="text" id="data.attributes.intelligence" name="data.attributes.intelligence" value="{{data.attributes.intelligence}}" data-dtype="Number"/>
        </div>
    </div>

</div>