<div class="traits flexcol">
    {{#each system.traits as |trait key| }}
    <div class="trait flexrow flex-group-center">
        <label for="trait-{{key}}" class="resource-label flexlarge align-left"
            data-label="{{ trait.label }}">{{ trait.label }}</label>
        <input type="text" id="trait-{{key}}" name="system.traits.{{key}}.value" value="{{trait.value}}" data-dtype="Number" />
        <button class="trait rollable" data-roll-usr="{{trait.value}}/4/0" data-label="{{trait.label}}">Normal</button>
        <button class="trait" data-label="{{trait.label}}">Custom</button>
    </div>
    {{/each}}
</div>
