.sheet-header {
  flex-grow: 0;
  .profile-img {
    border: 0;
  }
}

.sheet-tabs {
  flex-grow: 0;
}

.traits-table {
  .trait-value {
    font-size: 2em;

    &.rolls-1::after {
      vertical-align: super;
      font-size: .5em;
      content: "*";
    }
    &.rolls-2::after {
      vertical-align: super;
      font-size: .5em;
      content: "**";
    }
  }
  .trait-roll {
    width: 110px;
  }
  button.roll.d10 {
    position: relative;
    border: 0;
    width: 24px;
    line-height: 24px;
    float: left;
    margin-right: 1px;
    background-color: transparent;
    background-image: url("/icons/svg/d10-grey.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    font-size: var(--font-size-16);
    color: #000;
    font-weight: bold;
    text-align: center;
  }
  .trait-specialization {
    font-size: .9em;
    .trait-label {
      padding-left: 2rem;
    }
    .trait-value {
      font-size: 1.5em;
    }
  }
}

.damage-monitor {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, auto);

  .mod {
    background-color: $c-tan;
    border: 1px $c-dark solid;
    color: $c-faint;
    text-align: center;
    padding: 4px;
  }

  .val {
    text-transform: uppercase;
    text-align: center;
    padding: 4px;
    border: 1px $c-dark solid;
  }
}
